* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
}

.swiper-container {
  width: 375px;
  height: 100%;
}

.page1 img,
.page2 img,
.page3 img,
.page4 img,
.page5 img,
.page6 img,
.page7 img,
.page8 img{
  width: 100%;
  /* position: absolute; */
  opacity: 0;
}

.page1,
.page2,
.page3,
.page4,
.page5,
.page6,
.page7,
.page8{
  width: 375px;
  /* v--viewport ,h-height,1vh --1%视图的高度，100vh-->100%视图的高度 */
  height: 100vh;
  background: url('../img/bg.jpg');
  background-size: 100%;
  position: relative;
  overflow: hidden;
  /* opacity: 0; */
}









/* 第一页等会做完分割
.page1 img:nth-child(1) {
  width: 90%;
  position: absolute;
  top: 7%;
  left: 5%;
  opacity: 0;
  animation: myanima16 1s ease-in-out 2.2s forwards;
}

@keyframes myanima16 {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  75% {
    transform: scale(0.8);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}  */

/* .page1 img:nth-child(2) {
  width: 150%;
  position: absolute;
  top: 20%;
  left: -25%;
  opacity: 0;
  animation: myanima17 0.6s ease 2.9s forwards;
}

@keyframes myanima17 {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  100% {
    transform: scale(0.4);
    opacity: 1;
  }
}

.page1 img:nth-child(3) {
  width: 10%;
  position: absolute;
  top: 9%;
  right: 5%;
  animation: myanima22 3s linear infinite forwards;
}

@keyframes myanima22 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.page1 img:nth-child(4) {
  width: 10%;
  position: absolute;
  top: 9%;
  right: 5%;
}

.page1 img:nth-child(5) {
  width: 19%;
  position: absolute;
  bottom: -20%;
  left: 0%;
  animation: myanima11 0.5s ease-in-out 1.5s forwards;
}

@keyframes myanima11 {
  0% {
    left: 0%;
    bottom: 0%;
    opacity: 1;
  }

  75% {
    left: 0%;
    bottom: 41%;
    opacity: 1;
  }

  100% {
    left: 0%;
    bottom: 31%;
    opacity: 1;
  }
}

.page1 img:nth-child(6) {
  width: 19%;
  position: absolute;
  bottom: -50%;
  left: 20%;
  animation: myanima14 0.5s ease-in-out 1.95s forwards;
}

@keyframes myanima14 {
  0% {
    left: 20%;
    bottom: 0%;
    opacity: 1;
  }

  75% {
    left: 20%;
    bottom: 41%;
    opacity: 1;
  }

  100% {
    left: 20%;
    bottom: 31%;
    opacity: 1;
  }
}

.page1 img:nth-child(7) {
  width: 19%;
  position: absolute;
  bottom: -50%;
  left: 40%;
  animation: myanima13 0.5s ease-in-out 1.8s forwards;
}

@keyframes myanima13 {
  0% {
    left: 40%;
    bottom: 0%;
    opacity: 1;
  }

  75% {
    left: 40%;
    bottom: 41%;
    opacity: 1;
  }

  100% {
    left: 40%;
    bottom: 31%;
    opacity: 1;
  }
}

.page1 img:nth-child(8) {
  width: 19%;
  position: absolute;
  bottom: -50%;
  left: 60%;
  animation: myanima12 0.5s ease-in-out 1.65s forwards;
}

@keyframes myanima12 {
  0% {
    left: 60%;
    bottom: 0%;
    opacity: 1;
  }

  75% {
    left: 60%;
    bottom: 41%;
    opacity: 1;
  }

  100% {
    left: 60%;
    bottom: 31%;
    opacity: 1;
  }
}

.page1 img:nth-child(9) {
  width: 20%;
  position: absolute;
  bottom: -50%;
  left: 80%;
  animation: myanima15 0.5s ease-in-out 2.1s forwards;
}

@keyframes myanima15 {
  0% {
    left: 80%;
    bottom: 0%;
    opacity: 1;
  }

  75% {
    left: 80%;
    bottom: 41%;
    opacity: 1;
  }

  100% {
    left: 80%;
    bottom: 31%;
    opacity: 1;
  }
}

.page1 img:nth-child(10) {
  width: 100%;
  position: absolute;
  top: 69%;
  left: -100%;
  animation: myanima10 0.5s ease-in-out 1.4s forwards;
}

@keyframes myanima10 {
  0% {
    left: -100%;
    top: 69%;
    opacity: 1;
  }

  75% {
    left: 10%;
    top: 69%;
    opacity: 1;
  }

  100% {
    left: 0%;
    top: 69%;
    opacity: 1;
  }
}

.page1 img:nth-child(11) {
  width: 100%;
  position: absolute;
  top: 69%;
  left: -100%;
  animation: myanima 0.5s ease-in-out 0.2s forwards;
}

@keyframes myanima {
  0% {
    left: -100%;
    top: 69%;
    opacity: 1;
  }

  75% {
    left: 10%;
    top: 69%;
    opacity: 1;
  }

  100% {
    left: 0%;
    top: 69%;
    opacity: 1;
  }
}

.page1 img:nth-child(12) {
  width: 100%;
  position: absolute;
  top: 70%;
  left: -100%;
  animation: myanima4 0.5s ease-in-out 0.6s forwards;
}

@keyframes myanima4 {
  0% {
    left: -100%;
    top: 70%;
    opacity: 1;
  }

  75% {
    left: 10%;
    top: 70%;
    opacity: 1;
  }

  100% {
    left: 0%;
    top: 70%;
    opacity: 1;
  }
}

.page1 img:nth-child(13) {
  width: 100%;
  position: absolute;
  top: 71.5%;
  right: -100%;
  animation: myanima2 0.5s ease-in-out 0.6s forwards;
}

@keyframes myanima2 {
  0% {
    right: -100%;
    top: 71.5%;
    opacity: 1;
  }

  75% {
    right: 10%;
    top: 71.5%;
    opacity: 1;
  }

  100% {
    right: 0%;
    top: 71.5%;
    opacity: 1;
  }
}

.page1 img:nth-child(14) {
  width: 100%;
  position: absolute;
  top: 85.5%;
  left: -100%;
  animation: myanima5 0.5s ease-in-out 1s forwards;
}

@keyframes myanima5 {
  0% {
    left: -100%;
    top: 85.5%;
    opacity: 1;
  }

  75% {
    left: 10%;
    top: 85.5%;
    opacity: 1;
  }

  100% {
    left: 0%;
    top: 85.5%;
    opacity: 1;
  }
}

.page1 img:nth-child(15) {
  width: 100%;
  position: absolute;
  top: 88.5%;
  right: -100%;
  animation: myanima3 0.5s ease-in-out 0.8s forwards;
}

@keyframes myanima3 {
  0% {
    right: -100%;
    top: 88.5%;
    opacity: 1;
  }

  75% {
    right: 10%;
    top: 88.5%;
    opacity: 1;
  }

  100% {
    right: 0%;
    top: 88.5%;
    opacity: 1;
  }
}

.page1 img:nth-child(16) {
  width: 100%;
  position: absolute;
  top: 90%;
  left: -100%;
  animation: myanima6 0.5s ease-in-out 1.2s forwards;
}

@keyframes myanima6 {
  0% {
    left: -100%;
    top: 90%;
    opacity: 1;
  }

  75% {
    left: 10%;
    top: 90%;
    opacity: 1;
  }

  100% {
    left: 0%;
    top: 90%;
    opacity: 1;
  }
}

.page1 img:nth-child(17) {
  width: 12%;
  position: absolute;
  top: 80%;
  left: -100%;
  animation: myanima7 0.5s ease-in-out 1.3s forwards;
}

@keyframes myanima7 {
  0% {
    left: -100%;
    top: 80%;
    opacity: 1;
  }

  100% {
    left: 45%;
    top: 80%;
    opacity: 1;
  }
}

.page1 img:nth-child(18) {
  width: 12%;
  position: absolute;
  top: 81%;
  right: -100%;
  animation: myanima8 0.5s ease-in-out 1.3s forwards;
}

@keyframes myanima8 {
  0% {
    right: -100%;
    top: 81%;
    opacity: 1;
  }

  100% {
    right: 20%;
    top: 81%;
    opacity: 1;
  }
}

.page1 img:nth-child(19) {
  width: 5%;
  position: absolute;
  top: 81%;
  right: 36%;
  opacity: 0;
  animation: myanima9 0.5s ease-in-out 1.1s forwards;
}

@keyframes myanima9 {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }

  75% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.page1 img:nth-child(20) {
  width: 8%;
  position: absolute;
  top: 18%;
  right: 15%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(21) {
  width: 5%;
  position: absolute;
  top: 2%;
  right: 45%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(22) {
  width: 4%;
  position: absolute;
  top: 29%;
  right: 13%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(23) {
  width: 6%;
  position: absolute;
  top: 4%;
  right: 22%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(24) {
  width: 5%;
  position: absolute;
  top: 50%;
  right: 16%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(25) {
  width: 7%;
  position: absolute;
  top: 3%;
  right: 75%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(26) {
  width: 6%;
  position: absolute;
  top: 50%;
  right: 82%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(27) {
  width: 5%;
  position: absolute;
  top: 45%;
  right: 89%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(28) {
  width: 10%;
  position: absolute;
  top: 5%;
  right: 89%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(29) {
  width: 4%;
  position: absolute;
  top: 14%;
  right: 82%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(30) {
  width: 6%;
  position: absolute;
  top: 20%;
  right: 89%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(31) {
  width: 4%;
  position: absolute;
  top: 3%;
  right: 7%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

.page1 img:nth-child(32) {
  width: 8%;
  position: absolute;
  top: 42%;
  right: 5%;
  opacity: 0;
  animation: animas20 1.5s ease-in-out 2.2s forwards;
}

@keyframes animas20 {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: rotate(180deg);
    opacity: 1;
  }
}
 */
