/* page8 */
.page8 img:nth-child(1){
    width: 100%;
    top: -50%;
    position: absolute;
    animation: page8-3 0.7s ease-out 0.8s  forwards;
  }
  @keyframes page8-3{
    
    0% {
      top: -50%;
      opacity: 1;
    }
   
    100% {
      top: 5%;
      opacity: 1;
    }
  }
  .page8 img:nth-child(2){
    width: 50%;
    position: absolute;
    top:20%;
    left: -50%;
    animation: page8-1 0.7s ease-out 0.1s  forwards;
  }
  @keyframes page8-1{
    
    0% {
      left: -40%;
      opacity: 1;
    }
   
    100% {
      left: 25%;
      opacity: 1;
    }
  }
  .page8 img:nth-child(3){
    width: 60%;
    position: absolute;
    bottom: -50%;
    left: 20%;
    animation: page8-4 0.7s ease-out 0.9s  forwards;
  }
  @keyframes page8-4{
    
    0% {
      bottom: -50%;
      opacity: 1;
    }
   
    100% {
      bottom: 10%;
      opacity: 1;
    }
  }
  .page8 img:nth-child(4){
    width: 50%;
    position: absolute;
    top: 35%;
    left: -50%;
    animation: page8-2 0.7s ease-out 0.5s  forwards;
  }
  @keyframes page8-2{
    
    0% {
      left: -40%;
      opacity: 1;
    }
   
    100% {
      left: 25%;
      opacity: 1;
    }
  }